input {

  color: black;
  display: table;
  margin: 0 auto;
  width: 50%;

  position: relative;
  bottom: -100px;
}

button {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: .1em 1em;

  transition: 0.2s;
  position: relative;
  left: 80%;
  bottom: -80px;
}
body{
  color: black;
}
ul {
  position: relative;
  left: 30%;
  top: 100px;
  word-break: break-all;
  clear: left;
  clear: right;
  word-break: normal;
}
